html {
  color: #3e4649;
    background-color: #3e4649;
    padding: 0;
    background-size: 20%;
    background-position: left;
    
}

body {
  padding: 50px;
  position: absolute;
  left: 25%;
  right: 25% ;
  background-color: white;
  color: #3e4649;
  font-family: 'Montserrat', sans-serif;
    
    display: block;
    margin: 0px auto;
}

.head_subtitle {
  font-weight: bold;
  font-size: 20px;

}



.myName {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -20px;
}


.email, .linkedIn, .github{
  font-size: 15px;
  margin-top: -8px;
  margin-bottom: 2px;
}

.lar, .lab {
  font-size: 20px;
  color: blueviolet;
  margin-left: 270px;

}

a {
    text-align: center;
    padding: auto;
    text-decoration: none;
  }

a:hover {
    background-color: blueviolet;
    color: white;
    text-decoration: none;
  }

.school, .company_name, .project_name{
  font-weight: bold;
  font-size: 18px;
}

.job_tittle{
  font-style: italic;
  font-size: 14px;
}

.work_year{
  margin-left: 500px;
  margin-top: -20px;
  font-style: italic;
  text-decoration: underline;
}

.school_year{
  margin-left: 450px;
  margin-top: -25px;
  font-style: italic;
  text-decoration: underline;
}

span{
  font-weight: bold;
}

hr {
  margin-top: -1px;
}

.education, .experience, .projects{
  margin-top: -5px;
}

.certificate{
  margin-top: -20px;
}

.las {
  color: red;
  font-size: 30px;
}

.las la-at, lab la-linkedin-in{
  font-size: 12px;
}
