html{
    background: linear-gradient(to right, #272e30, #272e30);
    color: inherit;
    margin: auto;
    padding: auto;
    
}

 body {
     margin: auto;
     padding: 60px;
     width: 900px;
     height: auto;
     background-color: white;
     color: black;
     background-color: #F7F8F8;
     font-size: medium;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav{
    list-style-type:none;
    overflow: hidden;
    background-color:#1548be;
    margin-bottom: 10px;
    margin-top: -60px;
    margin-left: -60px;
    margin-right: -60px;
    color: inherit;
    font-size: 25px;
    

}

.menuList{
    float: left;
    
}

.menuList a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

.menuList a:hover{
    background-color: #F7F8F8;
    color:#606c88;
}

.headSubtitle{
    color: black;
    font-weight: bold;
    background-color: inherit;
}

.la-envelope, .la-linkedin-in, .la-github{
    color: #f66902;
    font-size: 1.3em;
}

.la-link, .la-graduation-cap, .la-briefcase, .la-tools, .la-certificate, .la-folder-open{
    font-size: 1.7em;
    color: #ff5e62;
}

#myName{
    font-size: 50px;
    color: black;
}

#contactInfo{
    float: right;
    margin-top: -100px;
    color: black;
    background-color: inherit;
}

#contactInfo a{
    margin-left: 10px;
}

.contactList a {
    color: black;
    text-align:center;
    text-decoration: none;
    background-color: inherit;
}

.contactList a:hover{
    background-color: #e91e62;
    color: white;
}

#jobPosition{
    font-size: 25px;
    margin-bottom: 30px;
}

.headSubtitle{
    font-size: 20px;
}

.schoolYear{
    float: right;
    margin-top: -20px;
}

#deanList{
    margin-bottom: 20px;
}

.workYear{
    float: right;
    margin-top: -40px;
}

span, .companyName, .schoolName, .projectName{
    font-weight: bold;
    height: auto;
}

.jobTitle{
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
}

.shoolName, .experienceHobbies{
   font-weight: bold;
   font-size: 30px;
}

.schoolLocation{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #1e62e9;
  margin-bottom: 10px;
}

.degreeMajor, .skillRole{
  font-weight: bold;
  font-size: 115%;
  text-decoration: underline;
}

footer {
      margin: auto;
      margin-top: 80px;
      padding: 10px;
      margin-left: -60px;
      margin-right: -60px;
      color: white;
      text-align: center;
      background: linear-gradient(to right, #272e30, #3f4c6b);
      height: auto;
}

footer a {
    color: white;
    
}
footer a:hover {background-color: #e91e62; color: white}
