
html {
  background-color: #3e4649;
  max-width: 900px;
  margin: auto;
}

body {
  background-color: white;
  color: #3e4649;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 0 auto;
  margin: 0 auto;
  padding: 50px;
  resize: both;
  overflow: auto;
}

.head_subtitle {
  font-weight: bold;
  font-size: 20px;

}

.topHeader{
    text-align: center;
}

.myName {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -10px;
}


.email, .linkedIn, .github{
    font-size: 15px;
    margin-bottom: -2px;
    text-align: center;
}

.lar, .lab {
  font-size: 20px;
  color: blueviolet;
}

a {
    text-align: center;
    padding: 0 auto;
    text-decoration: none;
  }

a:hover {
    background-color: blueviolet;
    color: white;
    text-decoration: none;
  }

.school, .company_name, .project_name{
  font-weight: bold;
  font-size: 18px;   
}

.job_tittle{
  font-style: italic;
  font-size: 14px;
}

.work_year{
    text-align: right;
    margin-top: -25px;
  font-style: italic;
  text-decoration: underline;
    padding-left: 30%;
    font-size: 14px;
}

.school_year{
  text-align: right;
  margin-top: -25px;
  font-style: italic;
  text-decoration: underline;
    padding-left: 50%;
    font-size: 14px;
}

span{
  font-weight: bold;
}

hr {
  margin-top: -1px;
}

.education, .experience, .projects{
  margin-top: -5px;
}

.certificate{
  margin-top: -20px;
}

.las {
  color: red;
  font-size: 30px;
}

.las la-at, lab la-linkedin-in{
  font-size: 12px;
}
